[Unit]
After=network-online.target
[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/cdn-dropbear.py
Restart=always
[Install]
WantedBy=multi-user.target
